<div class="container">
  <div class="action-buttons">
    <button mat-raised-button color="primary" (click)="openAddEmployeeDialog()">
      Add Employee
    </button>
  </div>
  <app-employees-filter></app-employees-filter>
  <ng-container *ngIf="employees$ | async as employees">
    <ng-container *ngIf="employees.length; else noEmployees">
      <app-employees-list [employeesData]="employees"></app-employees-list>
    </ng-container>
    <ng-template #noEmployees>
      <mat-card> There is no employees.</mat-card>
    </ng-template>
  </ng-container>
</div>
