mat-expansion-panel {
  mat-icon {
    vertical-align: middle;
    margin-right: 5px;
  }
  margin-bottom: 1rem;
  mat-card-header {
    margin-bottom: 0.5rem;
  }
  .row {
    display: flex;
    flex-wrap: wrap;
    gap: 0 20px;
    mat-form-field {
      flex-grow: 1;
      margin-bottom: 0;
      width: 180px;
      font-size: 12px;
    }
  }
}

mat-label,
input,
mat-select,
mat-option {
  font-size: 14px;
}
